PORT=
MONGODB_URI="mongodb+srv://username:password@cluster0.hexuern.mongodb.net/database_name"
JWT_SECRET=

# Nodemailer
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_SECURE=false

# Cloudinary
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=